* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-image{
    background-image: url('../assets/register.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .sign-image{
    background-image: url('../assets/login.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .login {
    min-height: 100vh;
    background-color: #F0F3BD;
  }
  .signup {
    background-color: #028090 !important;
    border-color: none !important;
  }
  .signin_reg{
    border-color: #028090 !important;
    background-color: transparent !important;
    color: #028090 !important;
  }
  


.submit-form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: fit-content !important;
  box-shadow: 2.3px 2.3px 5.2px -44px rgba(0, 0, 0, 0.018),
    5.4px 5.4px 13.3px -44px rgba(0, 0, 0, 0.026),
    9.7px 9.7px 25.7px -44px rgba(0, 0, 0, 0.032),
    16.1px 16.1px 44.5px -44px rgba(0, 0, 0, 0.038),
    26.5px 26.5px 74.2px -44px rgba(0, 0, 0, 0.044),
    46.2px 46.2px 122.8px -44px rgba(0, 0, 0, 0.052),
    100px 100px 194px -44px rgba(0, 0, 0, 0.07);
}

/* .submit-page {
  height: 100vh !important;
  width: 100vw !important;
  position: relative !important;
} */
.submit-btn{
  width: 100% !important;
}
.form-control,
.form-control:focus,
.form-control:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}
.form-control:focus{
   border-color: #008090 !important;
}
.pro-title{
  letter-spacing: 5px;
}
.logoText{
  letter-spacing: 5px;

  background: linear-gradient(180deg, #02C39A 0%, rgba(2, 195, 154, 0) 23.96%, #02BC89 46.88%, #028090 67.71%, #00A896 91.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.bit-img {
  border-radius: 50%;
  box-sizing: border-box;
  height: 2rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 2rem;
}
.img-resp {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.navbar{
  --bs-navbar-padding-y:0.3rem !important;
}
.deet{
  object-fit: cover;
  opacity: 0.5;
  height: 80vh;
  width: 100vw;



}
header {
  height: 80vh;
  /* width: 100vw; */
  background: black;
  overflow-x: hidden;

}
.details-page{
  overflow-x: hidden;
}
.btn-details{
  position: absolute;
  right: 10%;
  top: 90%;
  transform: translate(-10%, -50%);
}
.rate{
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-60%, -50%);
}
.rate2{
  position: absolute;
  left: 60%;
  top: 60%;
  transform: translate(-60%, -60%);
}
.rate3{
  position: absolute;
  left: 60%;
  top: 70%;
  transform: translate(-60%, -70%);
}
.allrates{
  display: none;
}

.rating{
  background-color: #00A896;
  width: 5vw;
  display: flex;
  justify-content:center;
  padding: 0.5rem 1rem ;
}
.rating p {
  margin-bottom: 0 !important;
}
.rating:hover, .rating p:hover{
  background-color: #F0F3BD;
  color:#000000 !important;

}