* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-image{
    background-image: url('../assets/register.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .sign-image{
    background-image: url('../assets/login.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .login {
    min-height: 100vh;
    background-color: #F0F3BD;
  }
  .signup {
    background-color: #028090 !important;
    border-color: none !important;
  }
  .signin_reg{
    border-color: #028090 !important;
    background-color: transparent !important;
    color: #028090 !important;
  }
  