{% extends 'layout.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
{% include "nav.html" %}

<header>
    <div class="bg-cover">
        <img src="{{projects.landing_page.url}}" class="deet" alt="">
    </div>
</header>
<div class="allrates" id="allrates">
    <div class="d-flex justify-content-center rate">
        <div class="rating  border ">
            <p class="text-white text-center">Usability</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">1</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">2</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">3</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">4</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">5</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">6</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">7</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">8</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">9</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">10</p>
        </div>
    </div>
    <div class="d-flex justify-content-center rate2">
        <div class="rating  border ">
            <p class="text-white text-center">Content</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">1</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">2</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">3</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">4</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">5</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">6</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">7</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">8</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">9</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">10</p>
        </div>
    </div>
    <div class="d-flex justify-content-center rate3">
        <div class="rating  border ">
            <p class="text-white text-center">Design</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">1</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">2</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">3</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">4</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">5</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">6</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">7</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">8</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">9</p>
        </div>
        <div class="rating  border">
            <p class="text-white text-center">10</p>
        </div>
    </div>
</div>
<div class="btn-details">
    <a href="{{projects.site_url}}" target="_blank">
        <button class="btn btn-primary mx-2">Visit Site</button>

    </a>
    <button class="btn btn-primary " id="nowRate">Rate Now</button>

</div>

<div class="container details-page">
    <p class=" h4 my-3 text-center">{{projects.title}}</p>
    <p class="text-center">{{projects.description}}</p>
  

</div>
   
{% endblock content %}
{% block scripts %}

<script src="../../static/js/main.js"></script>
{% endblock scripts %}
