{% extends 'layout.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
{% include "nav.html" %}

<!-- <div class="bg-cover">
    <img src="../../static/test.png" style="width: 100vw; height:80vh;" alt="">
</div> -->

<div class="container">
    <p class="h4 my-3">Rate Projects</p>
    <div class="row">
       {% for pro in projects %}
       <div class="col-md-4">
        <a href="{%url 'details' pro.id%}">
            <img src="{{pro.landing_page.url}}" class="img-fluid" alt="">

        </a>
        <p class="h5 pro-title my-3 ">{{pro.title}}</p>
        <p class="text-muted">~{{pro.owner.username}}</p>
            
        </div>
       {% endfor %}
    </div>
</div>

{% endblock content %}